.container {
    background-color: #0B0960;
    font-family: 'KoHo', sans-serif;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    width: 100%;
}

h4 {
    color: white;
}

.desktop-head{
    color: white;
    display: none;
}

.second-part {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

button {
    background-color: #0B0960;
    color: white;
    border: 2px solid white;
    padding: 5px;
    font-size: 10px;
    width: 45%;
}

#cart-img {
    width: 21px;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    right: 0; 
    background-color: #B7E5E5;
    min-width: 100px;
    max-width: 100%;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    font-family: 'Inter', sans-serif;
    font-size: 12px;
}

.dropdown-content a:hover {
    background-color: #ddd;
}

.show {
    display: block;
}


@media screen and (min-width: 600px) {

    .container{
        padding-left: 70px;
        
    }

    .desktop-head{
        display: flex;
        color: white;
        justify-content: center;
        align-items: center;
        gap: 50px;
        margin-right: 40px;
    }

    .second-part{
        display: none;
    }

    .product-div{
        display: flex;
        gap: 15px;
        font-family: 'Inter',sans-serif;
        font-size: 15px;
        font-weight: 400;
    }

    .product-div a{
        text-decoration: none;
        color: white;
    }


    .desktop-head button{
        padding-left: 20px;
        padding-right: 20px;
        border: 2px solid white;
        border-radius: 20px;
        font-weight: bold;
    }
}